.button {

    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    background-image: linear-gradient(to right,  #0080ff , #5401a7);
    border-radius: 15px;
    

    span {
        color: white;
    }

    &:hover {
        box-shadow: 5px 5px rgb(0 0 0 / 0.2);
    }
}