@import '../../styles/variables.module.scss';
@import './../../styles/utils.module.scss';

.button {

    margin: 0 0.5rem 0 0.5rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background-image: linear-gradient(to bottom,  $leoblue , $leoviolet);
    border-radius: 15px;
    font-weight: 500;
    

    span {
        color: white;
    }

    &:hover {
        
    }
}

.buttonWhite {

    margin: 0 0.5rem 0 0.5rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background-image: none;
    background-color: $white;
    border-radius: 15px;
    font-weight: 500;
    

    span {
        color: $black;
    }
}
