@import '../../styles/variables.module.scss'; 
@import '../../styles/utils.module.scss';


.sectionDark {
  padding: 25rem 0 25rem 0;
  background-color: $black;
}
.sectionLight {
  padding: 25rem 0 25rem 0;
  background-color: $white;
}

.element {
    animation: pulse 5s infinite;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;

}
  


@keyframes pulse {
    0%, 100% {
      color: $leoblue;
    }
    50% {
      color: $leoviolet;
    }
}