@import '../../styles/variables.module.scss';

.languageContainer {
    
    background-color: $white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding : 1rem;
    margin: 1rem;

    div {
        margin: 0 1rem 0 0;
    }
}