@import '../../styles/variables.module.scss';
@import '../../styles/utils.module.scss';

.translationsContainerDark, .translationsContainerLight {
    
    @include containerBaseStyle;
    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    label,select,input{
        margin: 0.5rem 0 0.5rem 0;
        display: block;
        width: 100%;
    }
        
    input {
        border-radius: 15px;
        height: 2.7rem;
        padding: 1rem;
    }
     
}

.translationsContainerDark {
    background-color: $black;
    color: $white;
}

.minW {
    min-height: 45rem;
}